<!-- Header -->
<header id="header"{% if page.layout == 'landing' %} class="alt"{% endif %}>
  <h1><a href="{{ site.baseurl }}/index.html">
    <img src="/images/logo.png" style='border-radius: 5px; height: 30px; vertical-align: middle;'>
    {{ site.title }}</a>
  </h1>
  <nav id="nav">
    <form style='display: inline-block; margin-right: 15px;' action="https://presenters.aacconference.com/search" method="GET">
      <input type="hidden" name="no_blank" value="1"/>
      <input type="text" placeholder="search sessions" name="q" style='width: 160px;display: inline-block;font-size: 12px; background: rgba(144, 144, 144, 0.5);'/>
      <button type="submit" style='line-height: 33px; height: 33px; vertical-align: middle; padding: 0 10px;'>Go</button>
    </form>
    <a href="schedule.html"><span>Schedule</span></a> <span style='color: rgba(255, 255, 255, 0.5);'>|</span>
    <a href="chat.html"><span>Chat</span></a>
    <ul style='display: inline;'>
      <li class="special">
        <a href="#menu" class="menuToggle"><span>Menu</span></a>
        <div id="menu">
          <ul>
            <li><a href="index.html">Home</a></li>
            {% for my_page in site.pages %}
            {% if my_page.include_nav %}
            <li><a href="{{ my_page.url | prepend: site.baseurl }}">{{ my_page.title }}</a></li>
            {% endif %}
            {% endfor %}
          </ul>
        </div>
      </li>
    </ul>
  </nav>
</header>
